<form #valForm="ngForm" (ngSubmit)="onSubmit()">

  <div>
    <p>
      <label for="form_1">form-1 validate is: </label>
      <input type="text" id="form_1" name="form_1" >
    </p>


    <div>
      <p>
        <label for="form_2">form-2 validate is:  </label>
        <input type="text" id="form_2" name="form_2" >
      </p>

      <div>
        <p>
          <label for="form_2.1">form-2.1 validate is:  </label>
          <input type="text" id="form_2.1" name="form_2.1" >
        </p>
        <p>
          <label for="form_2.2">form-1 validate is:  </label>
          <input type="text" id="form_2.2" name="form_2.2" >
        </p>

      </div>
    </div>


    <div>
      <p>
        <label for="form_3">form-3 validate is:  </label>
        <input type="text" id="form_3" name="form_3" >
      </p>

      <div>
        <p>
          <label for="form_3.1">form-3.1 validate is:  </label>
          <input type="text" id="form_3.1" name="form_3.1" >
        </p>

      </div>
    </div>


    <div>
      <p>
        <label for="form_4">form-4 validate is:  </label>
        <input type="text" id="form_4" name="form_4" >
      </p>

      <div>
        <p>
          <label for="form_4.1">form-4.1 validate is:  </label>
          <input type="text" id="form_4.1" name="form_4.1" >
        </p>

      </div>
    </div>

  </div>

</form>
